{% load static %}
<div class="box_background_contacti" id="contacti">
<div class="box_content_contacti">
        <div class="box_content_include" >
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-12">
                            <div class="head_box_content">
                                <p class="head_name_box">
                                   Контакты
                                </p>
                                <p class="head_box_content_small_text">
                                    Оставайтесь с нами на связи
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        
                        <div class="col-xl-6">
                            <div class="box_contacti_number">
                                <p class="number_contacti ">
                                    <a href="tel:(3842) 44-14-92" title="Позвонить"> (3842) 44-14-92</a>
                                </p>
                                <a href="mailto:650055sv@mail.ru"title="Написать письмо"  class="mail_contacti ">
                                         650055sv@mail.ru
                                </a>
                                <p class="text_number_contacti">
                                    Центр аттестации 
                                </p>
                                <a href="mailto:consulant@naks.ru"title="Написать письмо"  class="mail_contacti_mob ">
                                    consulant@naks.ru
                            </a>
                            </div>
                            <div class="box_contacti_number">
                                <p class="number_contacti ">
                                    <a href="tel:(3842)44-14-91" title="Позвонить"> (3842) 44-14-91</a>
                                </p>
                                <a href="mailto:vntk50@mail.ru" title="Написать письмо" class="mail_contacti ">
                                         vntk50@mail.ru
                                </a>
                                <p class="text_number_contacti">
                                    Сварочные технологии
                                </p>
                                <a href="mailto:consulant@naks.ru"title="Написать письмо"  class="mail_contacti_mob ">
                                    consulant@naks.ru
                            </a>
                            
                            </div>
                            <div class="box_contacti_number">
                                <p class="number_contacti ">
                                    <a href="tel:(3842)44-14-92" title="Позвонить">(3842) 44-14-92</a>
                                </p>
                                <a href="mailto:consulant@naks.ru" title="Написать письмо" class="mail_contacti ">
                                        consulant@naks.ru
                                </a>
                                <p class="text_number_contacti">
                                   Оценка квалификаций
                                </p>
                                <a href="mailto:42.002@mail.ru"title="Написать письмо"  class="mail_contacti_mob ">
                                    42.002@mail.ru
                            </a>
                            
                            </div>
                            <p class="info_text_contacti">
                                    Оставляйте завку на обратную связь, <br> 
                                    наш специалист свяжется с вами в ближайнее время, и ответит на все вопросы.
                            </p>
                            <div class="feedback_button_contacti text-center">
                                    <a href="" class="feedback_contacti" data-toggle="modal" data-target="#modal-question">
                                        Обратная связь
                                    </a>
                                </div>
                          
                        </div>
                       
                        
                    </div>
                </div>
            </div>    
</div>
</div>
