<div class="bg_info_box">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-4">
             <div class="info_box_text">
                    Организация является членом <br>
                    Саморегулируемая организация Ассоциация «НАКС».
                    <div class="naks_link">
                           <a href="http://www.naks.ru" target="_blank"
                             title="Национальное Агентство Контроля Сварки">www.naks.ru</a>
                           <a href="http://spks.naks.ru/news/" class="spks_link" target="_blank"
                             title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                         </div>
             </div>
            </div>
            <div class="col-xl-4">
             <div class="info_box_standarti">
              <a href="{% url 'profstandarti' %}" class="profstandarti_link">
                    Профстандарты в области сварки   
              </a>       
            <p class="info_box_text_small">
                    Утверждённые профессиональные стандарты
            </p>          
             </div>
            </div>      
            <div class="col-xl-4">
             <div class="shifr_headline">              
                    Шифры аттестационного центра  
                  
            <div class="shifr_link">
                   <a href="http://www.naks.ru/assp/reestrac/index.php?ID=5124686">
                  ВСР-1ГАЦ</a>
                   <a href="http://www.naks.ru/specpod/racsp/index.php?ID=5126502">
                  ВСР-3ЦСП</a>
                   <a href="http://www.naks.ru/aso/racso/index.php?ID=5124689">
                  АЦСО-90</a>
                   <a href="http://www.naks.ru/assp/reestrac/index.php?ID=5124686">
                 АЦСТ-100</a>
                   <a href="http://cert.naks.ru/cert_personal/cert/detail.php?ID=2660506">
                 ОСП-24</a>
                   <a href="http://spks.naks.ru/cert/reestr_centers/detail.php?ID=2712400">
                 ЦОК-010</a>
                   </div>          
             </div>
            </div>      
        </div>
    </div>
</div>