<div class="bg_info_box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4">
             <div class="info_box_text">
                    Организация является членом <br>
                    Саморегулируемая организация Ассоциация «НАКС».
                    <div class="naks_link">
                           <a href="http://www.naks.ru" target="_blank"
                             title="Национальное Агентство Контроля Сварки">www.naks.ru</a>
                           <a href="http://spks.naks.ru/news/" class="spks_link" target="_blank"
                             title="Совет по профессиональным квалификациям в области сварки">www.spks.naks.ru</a>
                         </div>
             </div>
            </div>
            <div class="col-xl-4">
             <div class="info_box_standarti">
              <a href="{% url 'profstandarti' %}" class="profstandarti_link">
                    Профстандарты в области сварки   
              </a>       
            <p class="info_box_text_small">
                    Утверждённые профессиональные стандарты
            </p>          
             </div>
            </div>      
        </div>
    </div>
</div>