{% load static %}
<div class="box_content_include">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                        <div class="head_box_content">
                            <p class="headline_name_box">
                               Наши партнеры
                            </p>
                            <p class="head_box_content_small_text">
                                Многолетнее сотрудничество с крупными компаниями
                            </p>
                        </div>
                    </div>
                </div>
        <div class="row align-items-center">
            <div class="owl-carousel owl-theme">
                <div class="img-item img-fluid">
                    <img src="{% static '/img/pmx.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/evraz.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/cdc.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/mechel.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/mkbelon.png' %}" alt="">
                    </div>            
                <div class="img-item img-fluid">
                    <img src="{% static '/img/krukov.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/czmk.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/sibir.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/urga.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/uniks.png' %}" alt="">
                </div>              
                <div class="img-item img-fluid">
                    <img src="{% static '/img/sdk.png' %}" alt="">
                </div>                       
            </div> 

        </div>
    </div>
</div>