
{% load static %}
<div class="box_content_personal">
    <div class="container">
        <div class="row">          

            <div class="col-xl-6">
                <p class="headline_name_box">
                   Сотрудники центра
                </p>
                <p class="head_box_content_small_text">
                   Профессионалы в своем деле
                </p>
            </div>
        </div>
     <div class="row">
    
        <div class="col-xl-12">
          <div class="owl-carousel owl-theme">
              <a href="/static/img/sotrudniki_1.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_1.png" class="img-fluid img_personal" />
                <div class="name_personal">
                    Абабков Николай Викторович       
                    <div class="main_personal_position">
                        Лаборатория разрушающих <br> испытаний
                    </div>
                </div>
              </a>                                          
              <a href="/static/img/sotrudniki_2.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_2.png" class="img-fluid img_personal" />
                <div class="name_personal">
                    Фольмер Сергей Владимирович
                    <div class="main_personal_position">
                        Начальник <br> ПТО
                    </div>
                </div>
              </a>        
              <a href="/static/img/sotrudniki_4.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_4.png" class="img-fluid img_personal" />
                 <div class="name_personal">
                    Смирнов Александр Николаевич            
                    <div class="main_personal_position">
                        Директор
                    </div>
                </div>
              </a>                                           
              <a href="/static/img/sotrudniki_3.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_3.png" class="img-fluid img_personal" />
                 <div class="name_personal">
                    Князьков Виктор Леонидович
                    <div class="main_personal_position">
                       Технический <br> директор
                    </div>
                </div>
              </a>                                         
                                               
              <a href="/static/img/sotrudniki_5.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_5.png" class="img-fluid img_personal" />
                 <div class="name_personal">
                    Князьков Константин Викторович               
                    <div class="main_personal_position">
                        Руководитель аттестационного <br> центра
                     </div>
                </div>
              </a>                                          
              <a href="/static/img/sotrudniki_6.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_6.png" class="img-fluid img_personal" />
                 <div class="name_personal">
                  Шульгин Александр Анатольевич       
                  <div class="main_personal_position">
                      Лаборатория контроля <br> металлов
                   </div>
                </div>
              </a>                                          
              <a href="/static/img/sotrudniki_7.png" data-fancybox="images">
                <img src="/static/img/sotrudniki_7.png" class="img-fluid img_personal" />
                 <div class="name_personal">
                  Удалов Вадим Федорович 
      
                  <div class="main_personal_position">
                      Заместитель Начальника <br> ПТО
                   </div>
                </div>
              </a>                                        
                                                    
            </div>
      </div>
 
    
     </div>
    </div>
</div>
