{% load link_holders %}
{% load static %}
<div class="box_content_service_and_center">
    <div class="container">

        <div class="row">

            <div class="col-xl-4">
                <div class="headline_box_content">
                    <p class="headline_name_box">
                        Услуги центра
                    </p>
                    <p class="head_box_content_small_text">
                        Основные направления центра
                    </p>
                </div>
                <div class="block_service">
                    <div class="service_link">
                        <ul class="list_link">
                            <li>
                                <a href="{% link_holder 'ATTSO' %}">{% title_holder 'ATTSO' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'ATTST' %}">{% title_holder 'ATTST' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'CSP' %}">{% title_holder 'CSP' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'DOBR_CERT' %}">{% title_holder 'DOBR_CERT' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'LNK' %}">{% title_holder 'LNK' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'MVC' %}">{% title_holder 'MVC' %}</a>
                                <div class="border_li_style"></div>
                            </li>
                            <li>
                                <a href="{% link_holder 'BURO_INFO' %}">{% title_holder 'BURO_INFO' %}</a>
                                <div class="border_li_style"></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">
                <div class="headline_box_content">
                    <p class="headline_name_box">
                        Центр аттестации
                    </p>
                    <p class="head_box_content_small_text">{{ profile.org_short_name }}</p>
                </div>
                <div class="box_content_center">
                    <p class="content_center_text">
                        {{ proflie.org_history }}
                    </p>
                    <button class="center_podrobnee">
                        <a href="{% link_holder 'CENTER_INFO' %}"
                            class="center_podrobnee_link">{% title_holder 'CENTER_INFO' %}</a>

                    </button>
                </div>
                <div class="box_img_center">
                    <p class="imglist" style="max-width: 1000px;">
                      <a href="{% static 'img/img_center_1.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_1.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                      <a href="{% static 'img/img_center_2.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_2.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                      <a href="{% static 'img/img_center_3.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_3.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                      <a href="{% static 'img/img_center_4.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_4.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                      <a href="{% static 'img/img_center_5.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_5.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                      <a href="{% static 'img/img_center_6.jpg' %}" data-fancybox="images"
                        data-caption="Backpackers following a dirt trail">
                        <img src="{% static 'img/img_center_6.jpg' %}" class="img-fluid img_center mr-2" />
                      </a>
                    </p>

                  </div>
            </div>
        </div>

    </div>
</div>