{% load link_holders %}
{% load static %}
<div class="box_content_include">
    <div class="container">

        <div class="row">
            <div class="col-xl-5">
                <div class="headline_box_content">
                    <p class="headline_name_box">
                        Центр аттестации
                    </p>
                    <p class="head_box_content_small_text">
                        ООО "Головной аттестационный центр Восточно-Сибирского региона" 
                    </p>
                </div>
                <div class="box_content_center">
                    <p class="content_center_text">
                        Аккредитован в области аттестации сварочного производства САСв с января 2000 года. Центр
                        осуществляет аттестацию персонала на выполнение сварочных работ (I уровень - сварщик),
                        руководство и технический контроль за проведением сварочных работ, включая работы по технической
                        подготовке производства и разработку производственно-технологической и нормативной документации
                        (II –IV уровень - специалисты), преподавателей и экзаменаторов для всех групп опасных
                        технических устройств. Центр аккредитован для всех видов аттестации сварочного оборудования,
                        сварочных материалов и сварочных технологий.
                    </p>
                    <p class="content_center_text important_text">
                        За время существования центра было проведено более 10 000 аттестаций персонала сварочного
                        производства, около 1000 единиц сварочного оборудования и более 1200 сварочных технологий.
                    </p>
                    <button class="center_podrobnee">
                        <a href="{% url 'center_info' %}#page_top" class="center_podrobnee_link">
                            Подробнее о центре
                        </a>
                    </button>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-6">
                <div class="headline_box_content">
                    <p class="headline_name_box">
                        Услуги центра
                    </p>
                    <p class="head_box_content_small_text">
                       Основные направления нашего центра
                    </p>
                </div>
                <div class="block_service">
                    <div class="service_link">
                        <ul class="list_link">
                            <li>
                                <a  href="{% link_holder 'ATCSM' %}">{% title_holder 'ATCSM' %}</a>                             
                            </li>
                            <li>
                                <a  href="{% link_holder 'ATCSO' %}">{% title_holder 'ATCSO' %}</a>                             
                            </li>
                            <li>
                                <a  href="{% link_holder 'ATCSP' %}">{% title_holder 'ATCSP' %}</a>                             
                            </li>
                            <li>
                                <a  href="{% link_holder 'ATCST' %}">{% title_holder 'ATCST' %}</a>                             
                            </li>
                            <li>
                                <a  href="{% link_holder 'MVC' %}">{% title_holder 'MVC' %}</a>                             
                            </li>
                            <li>
                                <a  href="{% link_holder 'ATTSM' %}">{% title_holder 'ATTSM' %}</a>                             
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>